# Copyright (c) Brandon Pacewic
# SPDX-License-Identifier: MIT


Language: Cpp
BasedOnStyle: Google
AccessModifierOffset: -4
AlignTrailingComments: false
AllowShortFunctionsOnASingleLine: Empty
ColumnLimit: 120
IndentWidth: 4
