# Copyright (c) Brandon Pacewic
# SPDX-License-Identifier: MIT

# Disable CRLF-mapping for all files
* -text

# Ensure that all C++ are properly detected
/psl/inc/** linguist-language=C++
/psl/src/** linguist-language=C++
*.h linguist-language=C++
